{% extends 'chat/chat_page.html' %}
{% block hide %}{% endblock %}
{% block messages %}
    {% for message in messages %}
    {% if message.sender == request.user %}
    <div class="d-flex justify-content-end mb-4" style="margin-left:0%;">        
        <div class="msg_cotainer_send" style="background-color:limegreen">            
            {{message}}
            <span class="msg_time_send">You</span>
        </div>        
        <div class="img_cont_msg">            
        </div>
    </div>
   

    {% else %}
    
    <div class="d-flex justify-content-start mb-4" style="margin-left:7%;">
        <div class="msg_cotainer_send" style="background-color:aqua">            
            {{message}}
            <span class="msg_time_send">{{ message.sender }}</span>
        </div>        
        <div class="img_cont_msg">            
        </div>
    </div>

    {% endif %}
    {% endfor %}
<script>

$(function () {
    $('#user{{ receiver.id }}').addClass('active');
    //Call receive function each 1 seconds to check for new messages in the database
    setInterval(receive,1000)
})
</script>
{% endblock %}
